

<!-- HTML -->

<div class=" row " >
    <div class=" col-lg-3 col-md-3 " >
        <a id="btnAbrirWell" class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Añadir personal
        </a>
    </div>
    <!-- ./col -->
</div>
<!-- ./row -->


<div class="collapse" id="collapseExample">
    <div class="well">
        <form action="#" id="frmDocumento" autocomplete="off" >
            <!-- ############################################# -->
            <input type="hidden" id="IdOS" name="IdOS" value="{{os}}" />
            <input type="hidden" id="C010" name="C010" value="{{tokenos}}" />
            <input type="hidden" id="Personal" name="Personal" value="" />
            <input type="hidden" id="Puesto" name="Puesto" value="" />
            <input type="hidden" id="IdPersonalOS" name="IdPersonalOS" value="0" />
            <input type="hidden" id="uu_id" name="uu_id" value="" />
            <input type="hidden" id="Cantidad" name="Cantidad" value="1" />
            <!-- ############################################# -->

            <div class=" row " >
                <div class=" col-lg-4 col-md-4 " >
                    <div class=" form-group ">
                        <label for="IdEmp" >Técnico de fumigación</label>
                        <select id="IdEmp" name="IdEmp" class="form-control" ></select>
                    </div>
                    <!-- ./form-group -->
                </div>
                <!-- ./col -->
                <div class=" col-lg-4 col-md-4 " >
                    <div class="form-group">
                        <label for="Glosa" >Glosa</label> 
                        <input type="text" name="Glosa" id="Glosa" class="form-control text-right" value="" maxlength="150" />
                    </div>
                    <!-- ./form-group -->
                </div>
                <!-- ./col -->
                <div class=" col-lg-2 col-md-2 " >
                    <div class=" form-group ">
                        <label for="">_</label>
                        <a href="#" class=" btn btn-primary btn-block" id="btmGuardar" >Guardar</a>
                    </div>
                    <!-- ./form-group -->
                </div>
                <!-- ./col -->
                <div class=" col-lg-2 col-md-2 " >
                    <div class=" form-group ">
                        <label for="">_</label>
                        <a href="#" class=" btn btn-default btn-block" id="btnNuevo" >Nuevo</a>
                    </div>
                    <!-- ./form-group -->
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->

        </form>
    </div>
</div>

<hr>
<table class=" table cell-border compact stripe hover table-striped table-hover " id="tblPersonal" style="width:100%;" >
    <thead>
        <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Personal</th>
            <th>Cantidad</th>
            <th>Puesto</th>
            <th>Glosa</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>






<!-- Scripts -->
<script type="text/javascript">
var _token_node = '{{tokenNode}}';
var _URL_NODE3  = '{{URL_NODE}}';
/* ------------------------------------------------------------- */
var table,tblPersonal;
/* ------------------------------------------------------------- */
var _tokenOS = '{{tokenos}}', IdOS = parseInt( $('#frmDocumento #IdOS').val() );
/* ------------------------------------------------------------- */
var Tecnicos = [];
/* ------------------------------------------------------------- */
//
(function($){
	$(document).ready(function()
    {
        /* ------------------------------------------------------------- */
        var $eventIdEmp = $('#frmDocumento #IdEmp').select2({
            width : '100%'
        });
        /* ------------------------------------------------------------- */
        $eventIdEmp.on("select2:select", function (e) { 
          var _DNI = parseInt( e.params.data.id ), Nombre = e.params.data.text;
          var _nombre = Nombre.split('-');
          $('#frmDocumento #Personal').val(_nombre[1]);
          $('#frmDocumento #Puesto').val(``);
          $.each( Tecnicos , function( key, value ) {
            var dni = parseInt(value.dni);
            if( _DNI == dni ){
              //console.log(`El personal es: ${value.puestoiso}`);
              $('#Puesto').val(value.puestoiso);
            }
          });
        });
        /* ------------------------------------------------------------- */
        cargarTecnicosCombo();
        /* ------------------------------------------------------------- */
        tblPersonal = $('#tblPersonal').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [25, 50, 100],
                [25, 50, 100]
            ],
            "searching" : true,
            buttons: [
                {
                    extend: 'collection',
                    exportOptions: {
                        modifier: {
                        page: 'all',
                        search: 'none'   
                        }
                    },
                    text: 'Exportar',
                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',
                        'print'
                    ]
                }
            ],
            language : {
                sProcessing: "Procesando...",
                sLengthMenu: "Mostrar _MENU_ registros",
                sZeroRecords: "No se encontraron resultados",
                sEmptyTable: "Ningún dato disponible en esta tabla",
                sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                sInfoPostFix: "",
                sSearch: "Buscar:",
                sUrl: "",
                sInfoThousands: ",",
                sLoadingRecords: "Cargando...",
                oPaginate: {
                sFirst: "|<",
                sLast: ">|",
                sNext: ">",
                sPrevious: "<",
                },
                oAria: {
                sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                sSortDescending: ": Activar para ordenar la columna de manera descendente",
                }
            },
            dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            "initComplete": function(settings, json) {
                // Ocultamos el buscados - preloader
                $('#wrapperTable').waitMe('hide');
            },
            "drawCallback": function( settings ) {
                var api = this.api();
                // Ocultamos el buscados - preloader
                $('#wrapperTable').waitMe('hide');
            }
        });
        /* ------------------------------------------------------------- */
        $('#btmGuardar').click(function (e) { 
            e.preventDefault();
            guardarPersonalOS();
        });
        /* ------------------------------------------------------------- */
        if(! _tokenOS ){
            renovarToken();
        }
        /* ------------------------------------------------------------- */
        if( IdOS > 0 ){
            getPersonal( IdOS , _tokenOS );
        }
        /* ------------------------------------------------------------- */
        $(document).delegate('.delPersonal', 'click', function(event) {
          event.preventDefault();
          var $id = $(this).data('id'), $uuid = $(this).data('uuid'), $nombre = $(this).data('nombre');
          Swal.fire({
            title: 'Confirmar',
            text: "Eliminar personal: "+$nombre,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar'
          }).then((result) => {
            if (result.isConfirmed) {
              delPersonalOS( $uuid );
            }
          });
        });
        /* ------------------------------------------------------------- */
        $('#btnNuevo').click(function (e) { 
            e.preventDefault();
            $('#frmDocumento #IdEmp').val(``);
            $('#frmDocumento #IdEmp').trigger('change');
            $('#frmDocumento #Glosa').val(``);
            $('#frmDocumento #Personal').val(``);
            $('#frmDocumento #Puesto').val(``);
            $('#frmDocumento #IdPersonalOS').val(0);
            renovarToken();
        });
        /* ------------------------------------------------------------- */
        $(document).delegate('.editPersonal', 'click', function(event) {
          event.preventDefault();
          var $id = $(this).data('id'), $uuid = $(this).data('uuid'), $nombre = $(this).data('nombre');
          getData( $uuid );
        });
        /* ------------------------------------------------------------- */
        /* ------------------------------------------------------------- */
        /* ------------------------------------------------------------- */
        /* ------------------------------------------------------------- */
        /* ------------------------------------------------------------- */
        /* ------------------------------------------------------------- */
        /* ------------------------------------------------------------- */
    });

})(jQuery);
/* ------------------------------------------------------------- */
function cargarTecnicosCombo()
{
    //
    // AJAX NODE
    $('#IdEmp').waitMe({
        effect: 'facebook',
        text: 'Buscando...',
        bg: 'rgba(255,255,255,0.7)',
        color:'#146436',fontSize:'20px',textPos : 'vertical',
        onClose : function() {}
    });
    $.ajax({
        url     : _URL_NODE3+'/api/puesto_iso/usuarios_by_puesto',
        method  : "POST",
        data    : { 'idPuesto' : 17 },
        dataType: "json",
        headers : {
            "api-token" : _TokenUser,
            "user-token" : _token_node
        }
    })
    .done(function(  json ) {
        switch(json.estado)
        {
            case 'ERROR':
                alert(json.error);
            break;
            case 'OK':
                // negocio...
                Tecnicos = json.data;
                var $jsonData = populateComboTecnicos( json );
            break;
        }
    })
    .fail(function(xhr, status, error) {
        if( xhr.status == 422 )
        {
            errorsh( xhr );
        }else{
            alert('Error al ejecutar');
        }
        $('#IdEmp').waitMe('hide');
    })
    .always(function() {
        $('#IdEmp').waitMe('hide');
    });
}
/* ------------------------------------------------------------- */
function populateComboTecnicos( json )
{
	//
	var $html = `<option value="0" >Ninguno</option>`;
	if( json.data != undefined ){
		$.each( json.data , function( key, value ) {
            $html += `<option value="${value.dni}" >${value.dni}-${value.name}</option>`;
		});
        $('#IdEmp').html( $html );
	}
	//
}
/* ------------------------------------------------------------- */
function guardarPersonalOS()
{
    //
    $('#ContenedorFlutter').waitMe({
        effect  : 'facebook',
        text    : 'Espere...',
        bg      : 'rgba(255,255,255,0.7)',
        color   : '#146436',fontSize:'20px',textPos : 'vertical',
        onClose : function() {}
    });
    var _dataSend = $('#frmDocumento').serialize();
    $.ajax({
        url     : `${_URL_NODE3}/api/per_os`,
        method  : "POST",
        data    : _dataSend,
        dataType: "json",
        headers : {
        "api-token" : _TokenUser,
        "user-token" : _token_node
        }
    })
    .done(function(  json ) {
        switch(json.estado)
        {
        case 'ERROR':
            Swal.fire({
            icon: 'error', title: 'Error', text: json.error,
            });
            //alert(json.error);
        break;
        case 'OK':
            $.toast({
                heading: 'Correcto',
                text: 'Personal asignado.',
                showHideTransition: 'slide',
                icon: 'success'
            });
            var IdOS  = $('#frmDocumento #IdOS').val();
            var token = $('#frmDocumento #C010').val();
            getPersonal( IdOS , token );
        break;
        }
    })
    .fail(function(xhr, status, error) {
        if( xhr.status == 422 )
        {
            errorsh( xhr );
        }else{
            alert('Error al ejecutar');
        }
        $('#ContenedorFlutter').waitMe('hide');
    })
    .always(function() {
        $('#ContenedorFlutter').waitMe('hide');
    });
}
/* ------------------------------------------------------------- */
function getPersonal( IdOS , token )
{
  //
  $('#TabPersonal').waitMe({
    effect  : 'facebook',
    text    : 'Espere...',
    bg      : 'rgba(255,255,255,0.7)',
    color   : '#146436',fontSize:'20px',textPos : 'vertical',
    onClose : function() {}
  });
  $.ajax({
    url     : `${_URL_NODE3}/api/per_os/lista/${IdOS}/${token}`,
    method  : "GET",
    dataType: "json",
    headers : {
      "api-token"  : _TokenUser,
      "user-token" : _token_node
    }
  })
  .done(function(  json ) {
    switch(json.estado)
    {
      case 'ERROR':
        alert(json.error);
      break;
      case 'OK':
        // negocio...
        var $jsonData = populatePersonalOS( json );
        tblPersonal.clear();
        tblPersonal.rows.add($jsonData).draw();
      break;
    }
  })
  .fail(function(xhr, status, error) {
    if( xhr.status == 422 )
    {
      errorsh( xhr );
    }else{
      alert('Error al ejecutar');
    }
    $('#TabPersonal').waitMe('hide');
  })
  .always(function() {
    $('#TabPersonal').waitMe('hide');
  });
}
/* ------------------------------------------------------------- */
function populatePersonalOS( json )
{
	//
	var $data = [], $CSGO = 1;
	if( json.data != undefined ){
		$.each( json.data , function( key, rs ) {
			var $o = [];
			$o.push($CSGO);
			$o.push(rs.IdEmp);
            $o.push(rs.Personal);
            $o.push(rs.Cantidad);
            $o.push(rs.Puesto);
            $o.push(rs.Glosa);
            $o.push(`<button data-id="${rs.IdPersonalOS}" data-uuid="${rs.uu_id}" data-nombre="${rs.Personal}" type="button" class=" editPersonal btn btn-block btn-primary btn-xs">Editar</button>`);
            $o.push(`<button data-id="${rs.IdPersonalOS}" data-uuid="${rs.uu_id}" data-nombre="${rs.Personal}" type="button" class=" delPersonal btn btn-block btn-danger btn-xs">Anular</button>`);
			//
			$data.push( $o );
			$CSGO++;
		});
	}
	//
	return $data;
}
/* ------------------------------------------------------------- */
function delPersonalOS( $uuid )
{
	//
	$('#ContenedorFlutter').waitMe({
		effect: 'facebook',
		text: 'Espere...',
		bg: 'rgba(255,255,255,0.7)',
		color:'#146436',fontSize:'20px',textPos : 'vertical',
		onClose : function() {}
	});
	$.ajax({
		url     : `${_URL_NODE3}/api/per_os/${$uuid}`,
		method  : "DELETE",
		dataType: "json",
		headers : {
			"api-token"  : _TokenUser,
			"user-token" : _token_node
		}
	})
	.done(function(  json ) {
		switch(json.estado)
		{
			case 'ERROR':
				alert(json.error);
			break;
			case 'OK':
				// negocio...
                $.toast({
                    heading: 'Correcto',
                    text: 'Personal quitado.',
                    showHideTransition: 'slide',
                    icon: 'success'
                });
                var _tokenOS = '{{tokenos}}', IdOS = parseInt( $('#frmDocumento #IdOS').val() );
                getPersonal( IdOS , _tokenOS );
			break;
		}
	})
	.fail(function(xhr, status, error) {
		if( xhr.status == 422 )
		{
			errorsh( xhr )
		}else{
			alert('Error al ejecutar');
		}
		$('#ContenedorFlutter').waitMe('hide');
	})
	.always(function() {
		$('#ContenedorFlutter').waitMe('hide');
	});
	//
}
/* ------------------------------------------------------------- */
function renovarToken()
{
    var length = 22;
    var result           = '';
    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    result += '-';
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    result += '-';
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    $('#frmDocumento #uu_id').val( result );   
}
/* ------------------------------------------------------------- */
function getData( uuid )
{
    //
    $('#ContenedorFlutter').waitMe({
        effect  : 'facebook',
        text    : 'Espere...',
        bg      : 'rgba(255,255,255,0.7)',
        color   : '#146436',fontSize:'20px',textPos : 'vertical',
        onClose : function() {}
    });
    $.ajax({
        url     : `${_URL_NODE3}/api/per_os/get_data`,
        method  : "POST",
        data    : { 'uuid' : uuid },
        dataType: "json",
        headers : {
            "api-token"  : _TokenUser,
            "user-token" : _token_node
        }
    })
    .done(function(  json ) {
        switch(json.estado)
        {
            case 'ERROR':
                alert(json.error);
            break;
            case 'OK':
                if( json.data != undefined ){
                    $.each( json.data , function( key, rs ) {
                        $('#frmDocumento #'+key).val(rs);
                    });
                    //$('#frmDocumento #IdEmp').html(`<option value="${json.data.IdEmp}" >${json.data.Personal}</option>`);
                    $('#frmDocumento #IdEmp').trigger('change');
                    _esVisible();
                }
            break;
        }
    })
    .fail(function(xhr, status, error) {
        if( xhr.status == 422 )
        {
            errorsh( xhr );
        }else{
            alert('Error al ejecutar');
        }
        $('#ContenedorFlutter').waitMe('hide');
    })
    .always(function() {
        $('#ContenedorFlutter').waitMe('hide');
    });
}
/* ------------------------------------------------------------- */
function _esVisible()
{
    var x = document.getElementById("collapseExample");
    if (window.getComputedStyle(x).display === "none") {
        $('#btnAbrirWell').trigger('click');
        $('#frmDocumento #Glosa').focus();
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
</script>

